@font-face {
    font-family: modernSansLight;
    src: url(https://dl.dafont.com/dl/?f=modern_sans);
}

#page {
    position: relative;
    font-family: modernSansLight;
    color: #7f7f7f;
}

#mainNavigation {
    display: block;
}

.banner {
    position: block;
    display: block;
    width: 100%;
    min-width: 1055px;
}

#navbar {
    position: absolute;
    color: white;
    font-size: 15pt;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    word-spacing: .25em;
}

.active {
    color: #7f7f7f;
    cursor: default;
}

a {
    color: white;
    text-decoration: none;
}

#navbar li {
    display: inline-block;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 25px 25px;
}

#primarySection {
    margin: 60px 0;
}

.editableText {
    text-align: center;
    font-size: 14pt;
    word-spacing: .25em;
    line-height: 1.2em;
    min-width: 1055px;
    margin: 60px 0;
}

#primaryImage {
    position: block;
    display: block;
    width: 100%;
    min-width: 1055px;
}

#secondarySection {
    display: table;
    min-width: 1055px;
    margin: 60px 0;
}

#secondaryBody {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    text-align: justify;
    font-size: 14pt;
    line-height: 1.2em;
    word-spacing: .25em;
}

#textBody {
    margin: 0 35px;
}

#secondaryPicture {
    display: table-cell;
    vertical-align: middle;
    width: 85%;
}

#footer {
    text-align: center;
    display: block;
    width: 100%;
    background: rgb(35, 35, 35);
    min-width: 1055px;
}

#footerLogo {
    width: 15%;
    margin: 25px 0px;
}

#newsletter {
    font-size: 8.24pt;
    color: white;
    margin-top: -15px;
}

#footerEmail {
    font-family: modernSansLight;
    background: rgb(35, 35, 35);
    color: white;
    border-style: none;
    height: 20px;
    width: 160px;
    vertical-align: middle
}

::placeholder {
    color: white;
}

#footerButton {
    background: rgb(35, 35, 35);
    color: white;
    border-style: none;
    height: 20px;
    width: 115px;
    vertical-align: middle
}

.formBorder {
    display: inline-block;
    color: white;
    border: 1px solid;
}

#follow {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 6pt;
    letter-spacing: .15em;
    margin: 20px;
}

#fb {
    width: 1.25%;
    vertical-align: middle;
    margin-right: 5px;
}

#ig {
    width: 1.4%;
    vertical-align: middle;
    margin-left: 5px;
}

#footerBanner {
    background-color: rgb(20, 20, 20);
    color: white;
    font-size: 10pt;
    min-width: 1055px;
}

#info {
    display: inline-block;
    margin: 40px 100px;
}

#number {
    display: inline-block;
}

#email {
    display: inline-block;
    color: white;
    text-decoration: none;
}

#copyright {
    display: inline-block;
    margin: 40px 100px;
}